beautifulsoup4==4.12.3
cmasher==1.6.3
highlight_text==0.2
matplotlib==3.8.3
mplsoccer==1.2.4
numpy==1.24.3
pandas==2.2.2
Pillow==10.3.0
PyYAML==6.0.1
Requests==2.32.3
scipy==1.11.3
selenium==4.21.0
streamlit==1.27.1
